<h1><%= @question[:title]%></h1>
<% @question[:answers].each do |answer| %>
	<%= content_tag(:a, class: "btn btn-default", href: "/quiz/answer?id=#{@id}&answer=#{@question[:answers].index(answer)}") do %>
		<%= answer[:title] %>
	<% end %>
<% end %>
